<!-- Into component html with routers Router Component--->
<div class="row">
  <div id="col s12">
    <div class="intro">
    <!--div class="card-content center-align black-text"-->
      <span class="card-title cyan-text">You're almost ready to start!</span>
      <blockquote>
        This is a trivia quiz app, built with <a class="btn-flat" href="https://angular.io/"
                                                 target="_blank">Angular2</a>
        using data from json files in the program.
        This was developed with <span class="red-text text-lighten-2">&hearts;</span> and hours of tutorials. This
        project will be available on <a class="btn-flat" href="" target="_blank">GitHub</a> once its completed.
      </blockquote>
      <div class="input-field col s12">
        <!--p class="btn" (click)="clicked($event)">Start Quiz</p>-->
        <!--<p class="btn" (click)="activateQuestion()">Start Quiz</p>-->
        <p>
        <a class="btn" routerLink="/quiz">Start Quiz</a>
        </p>
      </div>
    <!--/div-->
    </div>
  </div>
</div>

<!--
<nav>
  <a routerLink="/intro-component" routerLinkActive="active">Intro</a>
  <a routerLink="/quiz" routerLinkActive="active">Quiz</a>
  <a routerLink="/error" routerLinkActive="active">Error</a>
</nav>
<router-outlet></router-outlet>-->
